{# src/AALP/BookingBundle/Resources/views/Accommodation/index.html.twig #}

{% extends "AALPBookingBundle::layout.html.twig" %}

{% block title %}
  Accueil logement - {{ parent() }}
{% endblock %}

{% block aalpbooking_body %}

  <h2>Liste des logements</h2>

  <ul>
    {% for accommodation in listAccommodations %}
      <li>
        <a href="{{ path('AALP_accommodation_view', {'id': accommodation.id}) }}">
          {{ accommodation.id }}
        </a>
		{{ accommodation.reference }}
		<a href="{{ path('AALP_accommodation_edit', {'id': accommodation.id}) }}">
          Modifier
        </a>
		

      </li>
    {% else %}
      <li>Pas (encore !) de logements</li>
    {% endfor %}
  </ul>

{% endblock %}